/* Coolors Exported Palette - coolors.co/ffe019-d9e04e-fcffc4-fcfcfc-62892a */

$color1: #ffe019; //rgba(255, 224, 25, 100)
$color2: #d9e04e; //rgba(217, 224, 78, 100)
$color3: #fcffc4; //rgba(252, 255, 196, 100)
$color4: #fcfcfc; //rgba(252, 252, 252, 100)
$color5: #62892a; //rgba(98, 137, 42, 100)