    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">01 . 10 . 2016</h1>
                        <p class="sub-head">Save the Date</p>
                        <p class="intro-text">Lizzie &amp; Hamish Henderson</p>
                        <a href="#{{ site.site-map["home"].sections[0] }}" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="bunting"></div>
